body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  filter: brightness(90%);
}

.container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 600px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.left-section {
  width: 50%;
  background-image: url('../imagens/azul.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.left-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.left-section h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 28px;
}

.right-section {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #2c3e50;
}

.right-section select,
.right-section input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 30px;
  background-color: #f0f2f5;
  font-size: 16px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.right-section button {
  padding: 12px;
  width: 100%;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
}

.right-section button:hover {
  background-color: #2980b9;
}

.forgot-password a {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #2980b9;
}
